@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/font/Gilroy-Regular.woff2") format("woff2"),
    url("/src/assets/font/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Gilroy";
}
